* {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Old Standard TT', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.carousel-inner .carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 10vw !important;
}

/* footer area start  */
footer .icons a {
    direction: none;
    color: white;
    font-size: 30px;
    padding: 0 10px;
}