* {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Old Standard TT', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.carousel-inner .carousel-item img {
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 10vw !important;
}

/* media queries  mobile*/
@media only screen and (max-width: 700px) {
    .carousel-caption {
        bottom: 0vw !important;
    }

    #Courses img {
        width: 600px;
    }
}